services:
  # 1. The API Server
  server:
    build:
      context: ./server
      dockerfile: DockerFile
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_DIALECT: postgres
      NODE_ENV: development
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - billing-network

  # 2. The Frontend Client
  client:
    build:
      context: ./client
      dockerfile: DockerFile
    restart: always
    ports:
      - "3000:5173"
    environment:
      VITE_API_URL: http://localhost:5000
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    networks:
      - billing-network

networks:
  billing-network:
    driver: bridge