services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: billing_app_password
      POSTGRES_DB: myapp_db
    ports:
      - "5432:5432"

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgres://postgres:billing_app_password@db:5432/myapp_db
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server